[submodule "exercicios-backend-variaveis"]
	path = exercicios-backend-variaveis
	url = https://github.com/V1niCoder/exercicios-backend-variaveis.git
[submodule "exercicios-backend-condicionais"]
	path = exercicios-backend-condicionais
	url = https://github.com/V1niCoder/exercicios-backend-condicionais
[submodule "exercicios-backend-arrays-loops"]
	path = exercicios-backend-arrays-loops
	url = git@github.com:V1niCoder/exercicios-backend-arrays-loops.git
[submodule "exercicios-backend-objetos"]
	path = exercicios-backend-objetos
	url = git@github.com:V1niCoder/exercicios-backend-objetos.git
[submodule "exercicios-backend-funcoes"]
	path = exercicios-backend-funcoes
	url = https://github.com/V1niCoder/exercicios-backend-funcoes
[submodule "exercicios-backend-metodos-strings"]
	path = exercicios-backend-metodos-strings
	url = https://github.com/V1niCoder/exercicios-backend-metodos-strings
[submodule "exercicios-backend-metodos-arrays"]
	path = exercicios-backend-metodos-arrays
	url = https://github.com/V1niCoder/exercicios-backend-metodos-arrays
[submodule "exercicios-backend-metodos-arrays-2"]
	path = exercicios-backend-metodos-arrays-2
	url = git@github.com:V1niCoder/exercicios-backend-metodos-arrays-2.git
[submodule "exercicios-backend-metodos-arrays-3"]
	path = exercicios-backend-metodos-arrays-3
	url = git@github.com:V1niCoder/exercicios-backend-metodos-arrays-3.git
[submodule "desafio-de-logica-modulo-1-dds-t16"]
	path = desafio-de-logica-modulo-1-dds-t16
	url = git@github.com:V1niCoder/desafio-de-logica-modulo-1-dds-t16.git
[submodule "exercicios-backend-primeiro-servidor"]
	path = exercicios-backend-primeiro-servidor
	url = git@github.com:V1niCoder/exercicios-backend-primeiro-servidor.git
[submodule "exercicios-backend-rotas-intermediarios-controladores"]
	path = exercicios-backend-rotas-intermediarios-controladores
	url = https://github.com/V1niCoder/exercicios-backend-rotas-intermediarios-controladores
[submodule "exercicios-backend-api-rest"]
	path = exercicios-backend-api-rest
	url = git@github.com:V1niCoder/exercicios-backend-api-rest.git
[submodule "exercicios-backend-programacao-assincrona"]
	path = exercicios-backend-programacao-assincrona
	url = git@github.com:V1niCoder/exercicios-backend-programacao-assincrona.git
[submodule "exercicios-backend-leitura-escrita-arquivos"]
	path = exercicios-backend-leitura-escrita-arquivos
	url = git@github.com:V1niCoder/exercicios-backend-leitura-escrita-arquivos.git
[submodule "back-integral-datas-em-js"]
	path = back-integral-datas-em-js
	url = git@github.com:V1niCoder/back-integral-datas-em-js.git
[submodule "desafio-backend-m02-dds-t16"]
	path = desafio-backend-m02-dds-t16
	url = git@github.com:V1niCoder/desafio-backend-m02-dds-t16.git
[submodule "exercicios-backend-consultas-sql"]
	path = exercicios-backend-consultas-sql
	url = git@github.com:V1niCoder/exercicios-backend-consultas-sql.git
[submodule "exercicios-backend-funcoes-postgresql"]
	path = exercicios-backend-funcoes-postgresql
	url = git@github.com:V1niCoder/exercicios-backend-funcoes-postgresql.git
