[submodule "exercicios-backend-variaveis"]
	path = exercicios-backend-variaveis
	url = https://github.com/V1niCoder/exercicios-backend-variaveis.git
[submodule "exercicios-backend-condicionais"]
	path = exercicios-backend-condicionais
	url = https://github.com/V1niCoder/exercicios-backend-condicionais
[submodule "exercicios-backend-arrays-loops"]
	path = exercicios-backend-arrays-loops
	url = git@github.com:V1niCoder/exercicios-backend-arrays-loops.git
[submodule "exercicios-backend-objetos"]
	path = exercicios-backend-objetos
	url = git@github.com:V1niCoder/exercicios-backend-objetos.git
